body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

@font-face {
    font-family: velocity;
    src: url(fonts/velocity-font.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Myriad-Pro-Regular;
    src: url(fonts/Myriad-Pro-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat-Light.ttf);
}

.section-one{
    height: 870px;
}

.main-heading{
    font-family: velocity;
    color: #10ac84;
    padding-top: 25px;
    font-size: 34px;
    text-align:center;
    margin: 0;
    letter-spacing: 2px;
}

.hero{
    width: 1070px;
    margin-top: 115px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.hero-left{
    width: 520px;
    margin-top: 85px;
    margin-right: auto;
    margin-left: auto;
}

.hero-left-header{
    font-family: Montserrat-Bold;
    letter-spacing: normal;
    font-size: 21px;
}

.hero-left-discription{
    font-family: Myriad-Pro-Regular;
    margin-top: 55px;
}

.hero-buttons{
    margin-top: 65px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.help-button-div{
    display: inline-flex;
}

.video-button-div{
    display: inline-flex;
}

.help-button{
    text-decoration: none;
    background-color: #10ac84;
    padding:20px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-family: Montserrat-Medium;
    color: #fff;
    font-size: 12px;
}

.video-button{
    padding: 20px;
    background-color: #6a7079;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-family: Montserrat-Medium;
    font-size: 12px;
    margin-right: 50px;
}



.section-two{
    height: 980px;
    background-color: #f4f4f5;
}

.heading-now{
    font-family: Montserrat-Light;
    color: #26272d;
    text-align: center;
    padding-top: 40px;
    font-size: 23px;
}

.trace-div{
    text-align: center;
    justify-content: center;
    display: flex;
}


.trace{
    width: 50px;
    height: 2px;
    border: 1px solid #04b386;
    margin-top: 20px;
 }

 .main-now-heading{
    font-family: Montserrat-Regular;
 }

 .main-now-paragraph{
    font-family: Montserrat-Regular;
    color: #8c8f94;
 }

 .main-now{
    margin:120px auto 0 auto;
    width: 1155px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 .main-now-div{
    width: 430px;
 }

 .section-three{
    height: 1140px;
 }

 .offer-discription{
    font-family: Montserrat-Regular;
    font-size: 24px;
    text-align:center;
    width: 950px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
 }

 .offer-div{
    justify-content: center;
    display: flex;
    margin-top: 40px;
}

 .offer-image{
    float: left;
    display: block;
    margin-top: 5px;
 }

 .offer-explane{
    text-align: left;
    margin-left: 76px;
 }

 .offer-left{
    margin-top: 120px;
    width: 320px;
 }

 .offer-right{
    margin-top: 120px;
    width: 320px;
 }

 .explain-head{
    font-family: Montserrat-Bold;
    font-size: 12px;
 }

 .explain-paragraph{
    font-family: Montserrat-Medium;
    font-size: 10px;
 }

 .offer-box{
    height: 140px;
 }

 .section-four{
    background-color: #f4f4f5;
    height: 1240px;
 }

 .interface-screens{
    display: flex;
    padding-top: 120px;
    justify-content: center;
 }

.image-screen{

}

.image-screen-iphone{/
}

.image-screen-margin{

    margin-right: -60px;
    margin-left: -60px;
}

.image-screen-type-one{
    margin-top: 75px;
    width: 270px;
}

.image-screen-type-two{
    width: 310px;
    /*height: 480px;*/
}

.interface-button-help{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.question-form{
    margin-top: 100px;
}

.question-form input,
.question-form textarea{
    display: block;
    width: 550px;
    padding-top: 30px;
    padding-left: 5px;
    padding-bottom: 20px;
    border:none;
    border-bottom: 1px solid #606264;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat-Medium;
    font-size: 15px;
    resize: none;
}

.question-form button{
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #10ac84;
    color: #fff;
    border:none;
    padding: 20px 55px;
    font-family: Montserrat-Medium;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 3px;
}

.footer-trace-div{
    text-align: center;
    justify-content: center;
    display: flex;
}


.footer-trace{
    width: 1170px;
    height: 2px;
    border: 1px solid #e4e4e4;
    margin-top: 100px;
    margin-bottom: 10px;
 }

 .icon-div{
    display: flex;
    justify-content: center;
 }

 .icon-div a{
    color: #bdbec0;
    padding: 30px;
 }

 .icon-div a:hover{
    color: #10ac84 ;
 }